### <font color ='bisque'> Types de variables

In [ ]:
# créer une variable x de type entier et l'afficher
x = 5
# créer une variable x de type décimal et l'afficher
y  = 2.5
# print(x)
# créer une variable de type string (chaine de caractères)
string1 = "certification"              # guillemets doubles
# print(string1)
string2 = 'certification'                # guillemets simples
# print(string2)
string3 = """certification"""               # Triple guillemets doubles
# print(string3)
string4 = '''certification'''              # Triple guiillemets simples
# print(string4)
# créer une variable de type de booléen et l'afficher
booleen1 = False
print(booleen1)

False

### <font color ='bisque'> Operations sur les variables numériques

In [ ]:

# somme x avec une valeur numérique
x1 = 5
x2 = 3
x = x1 + x2
# print(x)
# soustraire x avec une valeur numérique
y = x1- x2
# print(y)
# multiplier x avec une valeur numérique
z = x1*x2
# print(z)
# soustraire deux variables numériques

# plusieurs opérations en même temps
t = x1*x2 + (x1- x2)
print(t)

15
17

In [ ]:
# diviser deux valeurs
u = x1/x2
# print(u)
# diviser une variable avec une valeur numérique
i = x2/2
# print(i)
# diviser deux variables

# opérateur puissance (**)
puissance = x1**2
print(puissance)

25

In [ ]:
i = 2
# incrémentation par sommation (+=)
i += 1 # i = i +1
# print(i)
# incrémentation par soubstrastion (-=)
i -= 3 # i  = i - 3
# print(i)
# incrémentation par multiplication (*=)
k = 5
k *=2  # k = k * 2
# print(k)
# incrémentation par division (/=)
k /= 2 # k = k /2
print(k)

5.0

### <font color ='bisque'> Opérations sur les chaînes de caractères

In [ ]:
# créer une string variable
animal1 = 'cheval'
animal2 = 'vache'
# concaténer deux strings en utilisant l'opérateur +
# print(animal1 + ' '+ animal2)

# répéter un string en utilisant l'opérateur *
print(animal1 * 2)
print(animal1 + "2" )

cheval vache
chevalcheval
cheval2

### <font color ='bisque'> Vérifier des types de variables et conversion

In [ ]:
# Vérifier le type d'une variable en utilisant la fonction type()
string1 = 'operation'
type(string1)
# convertir x en float (décimal)
x  = 2
y = float(x)
# print(y)
# Convertir y en int (entier)
z = int(y)
# print(z)
# Convertir en string ( chaine de caractères)
y_string = str(y)
y_string
# type(y_string)

'2.0'

### <font color ='bisque'> La fonction print()

In [ ]:
# Printer une chaine de caractères en définissant end ='.'
phrase  ='Je vais à la maison'
# print(phrase, end = '.')
# Printer la valeur d'une variable

# Printer 'Abdoul a 20 ans'
name = 'Abdoul'
age = 20
# print(name, 'a', age, 'ans', end='.' )
# print(name + " " + 'a' + ' ' + str(age) + ' ' + 'ans', end= '.')
# Printer 'Abdoul-a-20-ans' avec sep = "-"
print(name, 'a', age, 'ans', sep = '---', end='.' )

Abdoul---a---20---ans.

### <font color ='bisque'> Ecriture formatée ou fstring

In [ ]:
# Afficher une chaine avec une(s) valeurs de variables
name = 'Nour'
age = 19
# Printer 'Nour a 19 ans' en utilisant la clé f
# print(f"{name} a {age} ans", end = '.')
# Printer 'to et to font toto'
var ='to'
# print(f"{var} et {var} font {var*2}")
# print(f"{var} et {var} font {var + var}")
# print(f"{var} et {var} font {var}{var}")
# Printer 'Le prix moyen est 0.345351(arondi)'
prix_moyen = 0.345351
print(f"Le prix moyen est {prix_moyen: .2f}")

to et to font toto
Le prix moyen est  0.35

### <font color ='bisque'> Indexation sur les strings

In [ ]:
# Variable string
animal3  ='kangourou'
# Afficher un caractère du string en utilisant l'indexation positive et négative
# print(animal3[0])
# print(animal3[-len(animal3)])
# print(animal3[-len(animal3)+1])
# print(animal3[0:7:2])
print(animal3[::-1])
ville = 'matam'
print(ville[::-1])
print(ville[:])
# Afficher une tranche de caractères en utilisant l'indexation positive et négative

# un string est immutable
# ville[0] = 'v'

uoruognak
matam
matam

### <font color ='bisque'> Quelques fonctions utiles appliquées sur les strings

In [ ]:
salutation = 'Bonjour monsieur'
# fonction .lower()
# print(salutation.lower())
# fonction .upper()
# print(salutation.upper())
# fonction .strip()
# print(salutation.strip('-$.:,;'))
# fonction .replace()
# print(salutation.replace('-$,:.;', '_'))
# fonction .split()
nom= 'Doudou Samba Ndiaye'
print(nom.split())

['Doudou', 'Samba', 'Ndiaye']

### <font color ='bisque'> Fonction input()

In [ ]:
# Demander l'utilisateur de rentrer son nom et age et ensuite printer 'Nom a 20 ans.'
name = input('Rentrez votre nom : ')
age = int(input('Rentrez votre age : '))
print(f"{name} a {age} ans")

Rentrez votre nom : Doudou
Rentrez votre age : 20
Doudou a 20 ans